<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annuaire de personnes</title>
</head>
<body>
<h1>Annuaire de personnes</h1>

<p th:if=" ${ persons.size() == 0 } ">Annuaire vide !</p>

<ul th:if=" ${ persons.size() != 0 } ">
    <li  th:each=" person : ${persons} " th:text=" ${person.getFirstName()} + ' ' + ${person.lastName}"></li>
</ul>

<p>Ajouter une nouvelle personne</p>
<form action="persons" method="POST">

    <label>First Name:</label><input type="text" name="firstName">
    <label>Last Name:</label><input type="text" name="lastName">
    <input type="submit" value="Ajouter">
</form>


</body>
</html>